.App {

}

.count {
  width: 500px;
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}

.button {
  font-size: 30px;
  background-color: skyblue;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none; /* 테두리 없애기 */
  padding: 5px 10px;
}

.text {
  margin: 0px 20px;
  font-size: 30px;
}

.input-group span {
  width: 150px;
  justify-content: center;
}